# Svelte build output
/build
/.svelte-kit
/package

# Environment variables
.env
.env.*
!.env.example

# Node modules
/node_modules

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cursor specific
.cursor
.cursor.json
prd.md


